/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  color: var(--text-color);
}

.theme_light .decorated-span {
  display: none;
}

.theme_light .decorated-zone::before {
  border-block-start: 1px solid var(--text-color);
  border-inline-end: 1px solid var(--text-color);
}

.theme_light .decorated-zone::after {
  border-block-end: 1px solid var(--text-color);
  border-inline-start: 1px solid var(--text-color);
}

.theme_light .header__theme-menu-button {
  color: var(--text-color);
}

.theme_light .header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.theme_light .title-decor {
  color: var(--text-color);
  background-color: var(--accent-color);
}

a.theme_light {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.theme_light .section__title {
  color: var(--text-color);
}

.theme_light .footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (prefers-color-scheme: light) {

  :root {
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
    color: var(--text-color);
  }

  .decorated-span {
    color: transparent;
  }

  .decorated-span::after {
    background-color: transparent;
    box-shadow: none;
  }

  .decorated-zone::before {
    border-block-start: 1px solid var(--text-color);
    border-inline-end: 1px solid var(--text-color);
  }

  .decorated-zone::after {
    border-block-end: 1px solid var(--text-color);
    border-inline-start: 1px solid var(--text-color);
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .header__title {
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .title-decor {
    color: var(--text-color);
    background-color: var(--accent-color);
  }

  a {
    text-shadow: 2px 2px 0 var(--accent-color);
  }

  .section__title {
    color: var(--text-color);
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--accent-color);
  }
}
