:root {
  --bg-color: #000028;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --decor-color: var(--accent-color);
  --title-decor-color: var(--bg-color);
  --sectinon-title-color: var(--accent-color);
  --button-color: var(--accent-color);
  --button-border-color: #ff007066;
  --font-family: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --line-height: calc(23.4 / 18);
}
